.App {
  text-align: center;
  font-family: courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.NavBar {
  position: absolute;
  top: 30px;
  min-width: 80vw;
  max-width: 80vw;
  border: white;
  border-style: double;
  list-style-type: none;
  padding: 0;
}

ul.NavBar li {
  display: inline;
  overflow-wrap: break-word;
}

ul.NavBar li a {
  padding-inline: 5vw;
  color: white;
}


ul.NavBar li a:hover {
  color: blue;
}

div .content {
  position: absolute;
  top: 120px;
  min-width: 80vw;
  max-width: 80vw;
  border: white;
  border-style: double;
}
